<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Desafio de entregas</title>

    <!-- lib de mapa -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />

    <link rel="stylesheet" href="/css/delivery.css" />
  </head>
  <body>
    <div id="app" ng-app="roat_easy_app" ng-controller="delivery_controller">
      <!-- lateral esquerda -->
      <nav class="box">
        <!-- form de cadastro de cliente -->
        <div class="card">
          <input type="text" id="inp_customer_name" ng-model="form_customer.nome_cliente" placeholder="Nome Cliente" />
          <input type="Number" id="inp_weight" ng-model="form_customer.peso_kg" placeholder="Peso da Entrega (kg)" />
          <input
            type="text"
            id="inp_address"
            ng-model="form_customer.endereco.address"
            placeholder="Endereço Cliente"
          />
          <span id="spa_search_address" ng-click="search_address_click()">BUSCAR</span>

          <input
            type="text"
            id="inp_lat"
            ng-model="form_customer.endereco.geo_localizacao.latitude"
            placeholder="Latitude"
            disabled
          />
          <input
            type="text"
            id="inp_lng"
            ng-model="form_customer.endereco.geo_localizacao.longitude"
            placeholder="Longitude"
            disabled
          />

          <input type="button" id="btn_save_click" ng-click="btn_save_click()" value="CADASTRAR CLIENTE" />
        </div>

        <div class="card reset-card">
          <input type="button" id="btn_reset_click" ng-click="btn_reset_click()" value="RESETAR CADASTRO" />
        </div>
      </nav>
      <!-- container do mapa e tabela de clientes -->
      <main class="box">
        <div id="map"></div>

        <div id="table_container">
          <span>
            Total de Clientes: {{ customers.length }}; Peso Total: {{ total_weight }}Kg; Ticket Médio*:{{ avg_ticket }}
          </span>
          <table>
            <thead>
              <tr>
                <th style="width:19%">Nome</th>
                <th style="width:19%">Rua</th>
                <th style="width:14%">Cidade</th>
                <th style="width:14%">País</th>
                <th style="width:9%">Peso</th>
                <th style="width:10%">Lat</th>
                <th style="width:10%">Lng</th>
                <th style="width:5%"></th>
              </tr>
            </thead>
          </table>
          <!-- itens da tabela com rolagem -->
          <div id="tbody_container">
            <table>
              <tbody>
                <tr ng-repeat="customer in customers" style="background-color: {{ $odd ? '#f0f0f0' : '#e1e1e1' }}">
                  <td style="width:19%" ng-bind="customer.nome_cliente"></td>
                  <td style="width:19%" ng-bind="customer.endereco.logradouro"></td>
                  <td style="width:14%" ng-bind="customer.endereco.cidade"></td>
                  <td style="width:14%" ng-bind="customer.endereco.pais"></td>
                  <td style="width:9%" ng-bind="customer.peso_kg "></td>
                  <td style="width:10%" ng-bind="customer.endereco.geo_localizacao.latitude.toFixed(3)"></td>
                  <td style="width:10%" ng-bind="customer.endereco.geo_localizacao.longitude.toFixed(3)"></td>
                  <td style="width:5%;" class="delete_row noselect" ng-click="delete_customer(customer._id)">X</td>
                </tr>
              </tbody>
            </table>
          </div>
          <span>*Peso Total / Total de Clientes</span>
        </div>
      </main>
    </div>

    <script src="/js/libs/angular.min.js"></script>
    <script src="/js/libs/leaflet.js"></script>
    <script src="/js/delivery.js"></script>
  </body>
</html>
